# **<u>Első házi feladat</u>**

## **Fizetési módok null értékeinek vizsgálata**

(hány darab null érték van az oszlopban)

In [20]:
SELECT 
    COUNT(*) AS 'Összesen',
    SUM(CASE WHEN FIZ_MOD IS NULL THEN 1 ELSE 0 END) AS 'Null érték'
FROM Rendeles

Összesen,Null érték
28085,0

## **Fizetési módok eloszlása**

(hányszor történt fizetés bankkártyával, átutalással vagy készpénzzel)

In [5]:
SELECT FIZ_MOD, 
        COUNT(*) AS 'DB' 
FROM Rendeles
GROUP BY FIZ_MOD
ORDER BY COUNT(*) DESC

FIZ_MOD,DB
Bankkártya,14003
Átutalás,11284
Készpénz,2798

## **Szállítási módok null értékeinek vizsgálata**

(hány darab null érték van az oszlopban)

In [19]:
SELECT 
    COUNT(*) AS 'Összesen',
    SUM(CASE WHEN SZALL_MOD IS NULL THEN 1 ELSE 0 END) AS 'Null érték'
FROM Rendeles

Összesen,Null érték
28085,0

## **Szállítási módok eloszlása**

(hányszor történt kiszállítás GLS-el, Postával vagy személyes átvétellel)

In [6]:
SELECT SZALL_MOD, 
    COUNT(*) AS 'DB' 
FROM Rendeles
GROUP BY SZALL_MOD
ORDER BY COUNT(*) DESC

SZALL_MOD,DB
Személyes átvétel,9468
GLS,9426
Posta,9191

## **Rendelési dátumok null értékeinek vizsgálata**

(hány darab null érték van az oszlopban)

In [21]:
SELECT 
    COUNT(*) AS 'Összesen',
    SUM(CASE WHEN REND_DATUM IS NULL THEN 1 ELSE 0 END) AS 'Null érték'
FROM Rendeles

Összesen,Null érték
28085,0

## **Rendelések időintervalluma**

(A megrendelések az adott időintervallumban történtek)

In [12]:
SELECT 
    MIN(REND_DATUM) AS 'Első_dátum',
    MAX(REND_DATUM) AS 'Utolsó_dátum'
FROM Rendeles

Első_dátum,Utolsó_dátum
2015-05-01,2017-04-01

## **Rendelések havi eloszlása**

(hány darab megrendelés történt az adott hónapban)

In [8]:
SELECT 
    YEAR(REND_DATUM) AS 'Év',
    MONTH(REND_DATUM) AS 'Hónap',
    COUNT(*) AS 'DB'
FROM Rendeles
WHERE REND_DATUM IS NOT NULL
GROUP BY YEAR(REND_DATUM), MONTH(REND_DATUM)
ORDER BY YEAR(REND_DATUM), MONTH(REND_DATUM)

Év,Hónap,DB
2015,5,1203
2015,6,1155
2015,7,1235
2015,8,1276
2015,9,1207
2015,10,1233
2015,11,1178
2015,12,1260
2016,1,1226
2016,2,1193
2016,3,1274
2016,4,1259
2016,5,1218
2016,6,1214
2016,7,1209
2016,8,1274
2016,9,1192
2016,10,1277
2016,11,1210
2016,12,1227
2017,1,1204
2017,2,1081
2017,3,1242
2017,4,38

## **A 10 legforgalmasabb nap**

(Az a tíz dátum, amikor a megrendelések száma a legmagasabb volt.)

In [10]:
SELECT TOP 10 
    REND_DATUM, 
    COUNT(*) AS 'DB'
FROM Rendeles
WHERE REND_DATUM IS NOT NULL
GROUP BY REND_DATUM
ORDER BY COUNT(*) DESC

REND_DATUM,DB
2015-12-02,52
2015-08-05,50
2016-04-19,50
2016-05-07,50
2015-07-26,50
2016-11-25,49
2015-09-11,49
2015-11-30,49
2015-10-10,49
2016-04-02,49

## **Átlagos kiszállítási idő**

(átlagosan hány nap telik el a megrendelés és a szállítás között)

In [23]:
SELECT 
    AVG(DATEDIFF(DAY, REND_DATUM, SZALL_DATUM)) AS 'Átlagos szállítási idő (nap)'
FROM Rendeles
WHERE REND_DATUM IS NOT NULL AND SZALL_DATUM IS NOT NULL

Átlagos szállítási idő (nap)
5

## **Számlát kérők aránya**

(a megrendelések hány százalékához kértek számlát)

In [25]:
SELECT 
    COUNT(*) AS 'Összes rendelés',
    SUM(CASE WHEN SZAMLA_CIM IS NOT NULL THEN 1 ELSE 0 END) AS 'Számlát kérők',
    (SUM(CASE WHEN SZAMLA_CIM IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS 'Százalékos arány'
FROM Rendeles

Összes rendelés,Számlát kérők,Százalékos arány
28085,2550,9.079579846893