In [7]:
SELECT  f.FOGLALAS_PK AS 'Azonosító',
        DAY(f.MEDDIG) - DAY(f.METTOL) AS 'Időtartam',
        LAG(f.METTOL - f.MEDDIG,0,'Előző') OVER (ORDER BY f.FOGLALAS_PK)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
ORDER bY f.FOGLALAS_PK

: Msg 8117, Level 16, State 1, Line 3
Operand data type date is invalid for subtract operator.

In [10]:
SELECT v.NEV AS 'Név',
        f.FELNOTT_SZAM + f.GYERMEK_SZAM AS 'Fő',
        AVG(f.FELNOTT_SZAM + f.GYERMEK_SZAM) OVER(ROWS BETWEEN
         3 PRECEDING AND 1 PRECEDING)
FROM Foglalas f JOIN Vendeg v ON v.USERNEV = f.UGYFEL_FK
WHERE (f.FELNOTT_SZAM + f.GYERMEK_SZAM) < 
(
    SELECT AVG(f.FELNOTT_SZAM + f.GYERMEK_SZAM)
    FROM Vendeg
)

: Msg 147, Level 15, State 1, Line 6
An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.